<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<!-- mostrar el dato que te llega por variable, con la etiqueta <= nombre de la propiedad que se encuentra en controllers%> -->
<%-include('./partials/head')%>

<body>
	<%- include('./partials/headerLogueado')%>
	<%- include('./partials/novedades')%>

			<%- include('./partials/foot')%>
	
	
</body>

</html>