<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head')%> 
<body>
    <%- include('./partials/header')%> 

	<% if(locals.errors){  %> 
		<p class= “error”> <%= errors.message %> </p>
	 <% } %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>

			<form method="POST"> 
				<label for="email">Email:</label>
				<input type="email" name="email" id="" value=""> <br><br>
			  
				<label for="contrasena">Contraseña:</label>
				<input type="password" name="contrasena" value=""><br><br>
			  
				<label for="recordarme">Recordarme:</label>
				<input type="checkbox" name="recordarme" value=""><br><br>
			  
				<button type="submit">Enviar</button>
			  </form>
	
            <%- include('./partials/foot')%> 
</body>

</html>