<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head')%> 
<body>
    <%- include('./partials/header')%> 

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>

			<form action="/users/profile" method="GET"> 
				<label for="usuario">Usuario:</label>
				<input type="email" name="usuario"><br><br>
			  
				<label for="contraseña">Contraseña:</label>
				<input type="password" name="contraseña"><br><br>
			  
				<label for="recordarme">Recordarme:</label>
				<input type="checkbox" name="recordarme"><br><br>
			  
				<button type="submit">Enviar</button>
			  </form>
	
            <%- include('./partials/foot')%> 
</body>

</html>