<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')%>   

<body>
    <%- include('./partials/header')%>
	
	<% if(locals.errors){  %> 
		<p class= “error”> <%= errors.message %> </p>
	 <% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form method="POST"> <!-- nos tiene q rediregir al index logeado -->
				<label for="email">Email: </label>
				<input type="email" name="email" id="" value=""><br><br>
			  
				<label for="usuario">Usuario:</label>
				<input type="text" name="usuario" id="" value="" ><br><br>
			  
				<label for="contraseña">Contraseña:</label>
				<input type="password" name="contrasena" value="" ><br><br>
			  
				<label for="fecha_nacimiento">Fecha de nacimiento:</label>
				<input type="date" name="fecha_nacimiento"><br><br>
			  
				<label for="numero_documento">Número de documento:</label>
				<input type="number" name="dni"><br><br>
			  
				<label for="foto_perfil">Foto de perfil:</label>
				<input type="text" name="imagenUsuario"><br><br>
			  
				<button type="submit" value="Enviar">Enviar</button>
			  </form>


            <%- include('./partials/foot')%>   
</body>

</html>